header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/pad1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 6px;
}

.logo {
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.logo h1 {
    font-size: 62px;
    text-align: center;
    color: #ffffff;
    text-shadow: 3px 3px 2px hsl(0deg 0% 59% / 50%);
    margin-bottom: 1px;
}

.logo h3 {
    font-size: 25px;
    text-shadow: #000000;
    text-align: center;
    margin-bottom: 0px;
    text-decoration-style: double;
}

.logo a {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    margin-top: 30px;
}

.logo a:hover {
    border: 1px solid #080b0c;
    background: #ffffff;
    color: #000000;
    transition: 1s;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(21, 20, 20);
}

li {
    float: left;
}

li a,
.dropbtn {
    display: inline-block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
    background-color: rgb(77, 68, 68);
    color: #000000;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    border-radius: 4px;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    font-size: inherit;
    font-family: Georgia, 'Times New Roman', Times, serif;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #0e0d0d;
    color: #ffffff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media(max-width:700px) {
    .logo {
        font-size: 30px;
    }
    ul li {
        display: block;
    }
    .dropbtn {
        position: absolute;
        background: #fd7e14;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
    }
}

body {
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
}

.search {
    width: 50%;
    position: relative;
    display: flex;
}

@media(max-width: 700px) {
    .logo {
        flex-direction: column;
    }
}


/*...............livestreaming...............*/

.live-play {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.live-play h1 {
    font-size: 2.5rem;
    font-family: inherit;
    text-decoration: underline;
    text-shadow: #000000;
}

.image {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.image img {
    width: 50%;
    border-radius: 4px;
    justify-content: left;
}

@import url(https://fonts.googleapis.com/css?family=Raleway:300,700);
body {
    background: #048;
    background: -webkit-linear-gradient(left top, #027, #48a);
    background: -moz-linear-gradient(bottom right, #027, #48a);
    background: linear-gradient(to bottom right, #027, #48a);
    background-attachment: fixed;
    color: #fff;
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 140%;
    margin: 0;
    height: 100%;
    padding: 0;
    text-align: center;
    width: 100%;
}

.page_title {
    font-weight: 300;
    line-height: 120%;
    margin: 20px 0;
    text-shadow: 0 1px 5px rgba(0, 0, 0, .8);
    text-transform: uppercase;
}


/* PEN STYLES ========== */

.row {
    margin: 0;
}

.test_box {
    padding: 0;
}

.test_box .inner {
    background: #333;
    display: block;
    margin: 10px;
    overflow: hidden;
}

.test_box .inner .test_click {
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .1);
    color: #fff;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    mix-blend-mode: normal;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.test_box .inner .test_click:hover {
    background-color: rgba(0, 100, 255, .5);
    mix-blend-mode: hard-light;
}

.flex_this {
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    display: inherit;
    flex-wrap: inherit;
    height: auto;
    margin: 0;
    padding: 10px;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    width: 100%;
}

.test_box .inner .test_click:hover .flex_this {
    margin-top: -5px;
}

.test_title {
    display: block;
    font-weight: 700;
    margin: 0 0 20px;
    width: 100%;
}

.test_link {
    border: 2px solid #fff;
    display: inline-block;
    font-size: .8em;
    font-weight: 700;
    letter-spacing: .1em;
    margin: 0 auto;
    padding: 10px 30px;
    text-transform: uppercase;
}

.box-01 .inner {
    background-image: url(images/gta\ v.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
}

.box-02 .inner {
    background-image: url(images/Fifa.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.box-03 .inner {
    background-image: url(images/need\ for\ speed.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.box-04 .inner {
    background-image: url(images/call\ D.webp);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.box-05 .inner {
    background-image: url(images/pubg1.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.box-06 .inner {
    background-image: url(images/assn1.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}